<!DOCTYPE html>
<html>
<head>
  <title>SigApp Trivia</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="navbar navbar-fixed-top">
	<div class="navbar-inner">
		<div class="container">
			<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				<span class="icon-bar"></span>
			</a>
			<a class="brand" href="/"> SigApp Trivia </a>
			<div class="nav-collapse">
				<ul class="nav">
					<li id="home">
					<%= link_to 'Home', '/' %>
					</li>
					<li id="questions">
					<%= link_to 'Questions', questions_path %>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>

<%= yield %>

<script type="text/javascript">
	/**
	 * Function used to set the active link
	 * in the navigation bar.
	 */
	function setNavActive (url) {
		if(url == "") {
			$("#home").addClass("active");
		} else {
			$("#questions").addClass("active");
		}
	}
	
	// Parse the URL
	url = document.URL;
	i = 0;
	for(slashes = 0; slashes<3; i++) {
		if(url[i] == '/')
			slashes++;
	}

	// Once the document is ready, set the active nav item
	$(document).ready(setNavActive(document.URL.substring(i)));
</script>

</body>
</html>
